# Ignore Everything
*

# But not specific file-types
!*.cpp
!*.h
!CMakeLists.txt
!.gitignore

# Or directories
!src
!src/
!src/*
!src/**/*

!tests
!tests/
!tests/*
!tests/**/*

!examples
!examples/*
!examples/**/*
!examples/**/*